<h4>Bem vindo do MelStore</h4>
<p>O MelStore é o site de registro de pedidos da nossa loja de mel. Aqui é possível manter os produtos, os clientes e os pedidos feitos pelos clientes.</p>
<p>Próximos passos da implementação:</p>
<ul>
    <li>Implementar paginação</li>
    <li>Implementar busca</li>
     <li>Melhorias no layout em geral</li>
    <li>Outras ideias...</li>
</ul>